<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <!--general information menu group-->
    <li class="nav-header"><%=t('sidebar_menu.group.general')%></li>
        <li>
            <%= link_to t('sidebar_menu.item.general'), root_path %>
        </li>

    <!--tariff menu group-->
    <li class="nav-header"><%=t('sidebar_menu.group.tariffs')%></li>
        <li>
            <%= link_to t('sidebar_menu.item.tariff.flat_abonent'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.tariff.electricity'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.tariff.water.cold'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.tariff.water.hot'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.tariff.heating'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.tariff.intercom'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.tariff.internet'), root_path %>
        </li>

    <!--payment menu group-->
    <li class="nav-header"><%=t('sidebar_menu.group.records')%></li>
        <li>
            <%= link_to t('sidebar_menu.item.record.flat_abonent'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.record.electricity'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.record.water.cold'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.record.water.hot'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.record.heating'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.record.intercom'), root_path %>
        </li>
        <li>
            <%= link_to t('sidebar_menu.item.record.internet'), root_path %>
        </li>
    
    <!--settings menu group-->
    <li class="nav-header"><%=t('sidebar_menu.group.account_setting')%></li>
        <li>
            <%= link_to t('sidebar_menu.item.settings'), root_path %>
        </li>
  </ul>
</div>